*{
      box-sizing: border-box;
}

.background-box{
      display: flex;
      justify-content: center;
      background-color: rgb(80,80,80);
      width: 100vw;
      height: 100vh;
}

.container-join{
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
      width: 100vw;
      color: rgb(195,195,195);
}

.top-bar-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      height: 80px;
      color: rgb(195, 195, 195);
      font-size: 40px;
}

.back-button {
      /* position: fixed; */
      /* left: 10px; */
      top: 8px;
      background-color: transparent;
}

.header{
      /* margin: 80px; */
      font-size: 30px;
      /* align-self: center; */
}

.settings-button{
      /* position: fixed; */
      /* right: 15px; */
      height: 45px;
      background-color: transparent;
      /* outline: black solid 1px; */
}

/* .empty{
      height: 5px;
      width: 90px;
} */

.account-name{
      /* margin-bottom: 25px; */
}

.joinguild-container{
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
      /* width: 100vw; */
      color: rgb(195,195,195);
}

.joinguild-container > input{
      border-color: blueviolet;
      background-color: rgb(80,80,80);
      color: rgb(195,195,195);
}

.list-section{
      margin: 20px 0;
}

@media(min-width: 700px){
      .container-guild{
            width: 500px;
      }
}