.background{
      background-color: rgb(80,80,80);
      display: flex;
      justify-content: center;
}

.App{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 699px;
}

button{
      width: 130px;
      height: 50px;
      color: rgb(195, 195, 195);
      background-color: rgb(85,85,85);
      border-radius: 5px;
      border-color: rgb(156, 61, 156);
      border-width: 3px;
}

.lh3{
      color: rgb(195, 195, 195);
      margin-top: 40px;
      font-size: 1.5em;
      margin-bottom: 10px;
}

.lp{
      color: rgb(195, 195, 195);
}