*{
      box-sizing: border-box;
}


section{
      background-color: transparent;

}

.container-guild:hover {
      background-color: rgb(68,68,68);
      border-radius: 20px;
      
}


.container-guild{
      background-color: transparent;
      display: flex;
      align-items: center;
      width: 70vw;
      box-shadow: 0 0 15px black;
      border-radius: 20px;
}

.container-guild > h1{
      color: rgb(195, 195, 195);
      background-color: transparent;
}

.image-wrapper{
      height: 50px;
      width: 50px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin: 10px;
}

.guild-image{
      height: 50px;
}

/* .account-wrapper{
      height: 40px;
      width: 40px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin: 10px;
} */

/* .account-bar{
      display: flex;
      align-items: center;
} */